requests
pandas
bitsandbytes
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
datasets
scipy
ipywidgets
matplotlib
einops
wandb
scikit-learn
bitsandbytes